[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"
schedule = "*"
beautifulsoup4 = "*"
requests = "*"
flask = "*"
gevent = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
